pipeline/movies_datalake_to_db.json
{
	"name": "movies_datalake_to_db",
	"properties": {
		"activities": [
			{
				"name": "get_all_files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Credits",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "for_loop",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get_all_files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get_all_files').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "get_filename",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_file",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"itemName"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "Append filenames",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "get_filename",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "filenames",
								"value": {
									"value": "@concat('{\"FileName\":\"',item().name,'\"}')",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Set filenames",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "for_loop",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "all_files",
					"value": {
						"value": "@concat('[',join(variables('filenames'),','),']')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Last Files",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set filenames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[SortJsonArray]",
						"storedProcedureParameters": {
							"JsonArray": {
								"type": "String",
								"value": {
									"value": "@variables('all_files')",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "for_all_copy",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "truncate tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@json(activity('Get Last Files').output.firstRow.OutputJson)",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "set file name",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "file_name",
								"value": {
									"value": "@item().file_name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "set table name",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "table_name",
								"value": {
									"value": "@item().file_part",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Load file to DB",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "set file name",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "set table name",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "pipelineId",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										{
											"name": "source_filename",
											"value": {
												"value": "@variables('file_name')",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_file",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@variables('file_name')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSqlTableMovies",
									"type": "DatasetReference",
									"parameters": {
										"target_table_name": {
											"value": "@variables('table_name')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "truncate tables",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Get Last Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[clear_movies_tables]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "populate dbo movies",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "for_all_copy",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spPopulateOnline]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"all_files": {
				"type": "String"
			},
			"filenames": {
				"type": "Array"
			},
			"file_name": {
				"type": "String"
			},
			"table_name": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Movies"
		},
		"annotations": [],
		"lastPublishTime": "2024-09-25T10:37:25Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}